header {
    background-color: rgb(47, 1, 85);
    color: aliceblue;
    text-align: center;
    font-family: sans-serif;
    padding: 40px;
    margin: -10px -10px;
}

.skip_link {
  position: absolute;
  left: -999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background-color: rgb(47, 1, 85);
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
  z-index: 1000;
}

.skip_link:focus {
  left: 10px;
  top: 10px;
  width: auto;
  height: auto;
  overflow: visible;
}


nav a {
    text-decoration: none;
    color: aliceblue;
}

nav a:hover {
    color: #DBA514;
    text-decoration: underline;
    transition: 0.5s;
}

ul {
    display: flex;
    gap: 50px;
    justify-content: center;
    list-style: none;
    margin-top: 50px;
    margin-bottom: -5px;
}

div {
    justify-content: center; 
} 

.img_fun {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 250px 0px 370px;
}

div img { 
    display: flex;
    opacity: 0.6;
    padding: 1px;
    border: 5px solid black;
    border-radius: 4%;
    margin: 30px;
}

img {
    align-items: center;
}

#f1_two {
    width: 90%;
}

div img:hover {
    transition: 1s;
    opacity: 1;
    border-radius: 14%;
}

#bh1 {
    color: rgb(47, 1, 85);
    font-family: sans-serif;
}

p {
    font-size: 19px;
}

a h3 {
    color:black;
    text-decoration: none;
}

a h3::after{
    color:black;
}

h3:hover {
    color:rgb(52, 17, 255);
    text-decoration: underline;
}

footer {
    background-color: rgb(22, 0, 44);
    color: aliceblue;
    font-size: large;
    padding: 13px;
    text-align: center;
    margin: 20px -10px -10px -10px;
}

/* table */

table {
  width: 60%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin: 20px 0;
}

thead {
  background-color: #4CAF50;
  color: #ffffff;
}

th, td {
  padding: 12px 100px;
  border: 1px solid #aaaaaa;
  text-align: center;
  color: rgb(3, 3, 3);
}

tr:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

tr:nth-child(1) {
     background-color: rgb(211, 211, 211);
  font-size: large;
  color: white;
}

tr:nth-child(3), tr:nth-child(5) {
  background-color: rgb(226, 226, 226);
}

tr:hover {
    background-color: rgb(184, 184, 184);
    transition: 0.1s;
}


/* table */






